#controles {
  text-align: center;
}

input.btn {
  font-size: 60px;
  padding: 20px 40px;
  background: #CCCCCC;
}

#btn-shoot {
  background: red;
  font-size: 20px;
  margin-left: 100px;
  padding: 60px 30px;
  border-radius: 50%;
  color: white;
  position: relative;
  bottom: 20px;
}